<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.snap_lib">
  

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


  <application>
    <activity android:name=".ScanFrontCardActivity" android:theme="@style/Theme.SnapLib" />

    <activity android:name=".ScanBackCardActivity" android:theme="@style/Theme.SnapLib" />

    <activity android:name=".ScanFaceActivity" android:theme="@style/Theme.SnapLib" />


    </application>
</manifest>
